@media (max-width: 767px) {

	  .contact_form{
        width: auto
      }
    }

    /* For smartphones */
    @media only screen and (max-width: 767px)  {
	  .contact_form{
        width: 300px;
      }
    }
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {	
	  .contact_form{
        width: 420px;
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .contact_form{
        width: 724px;
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .contact_form{
        width: 830px;
      }
    }
#contact_form label {
    display: block;
    font-size; 1.0em;
    margin-bottom: .6em;
    margin-top:1.1em;
    letter-spacing: 0.05em;
    color: #8e8c88;
    font-family: "knockout2";
}

#contact_form input[type="text"], #contact_form input[type="email"], #contact_form #message
{
	width:100%
}
#contact_form #message
{
	margin-bottom:20px;
}
#contact_form input[type="text"], #contact_form textarea {
    cursor: text;
}
#contact_form input, #contact_form textarea {
    transition: border 0.25s ease 0s;
}
#contact_form input, #contact_form select, #contact_form textarea {
    -moz-box-sizing: border-box;
    border: 1px solid #383636;
    color: #817F7D;
    background-color: #222121;
    font-size: 1.2em;
    padding: .5em;
    width: 60%;
}
#contact_form button, #contact_form input {
    line-height: normal;
}
 #contact_form input, #contact_form select, #contact_form textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
.contact_info .download
{
	margin-bottom:20px
}
.contact_btn_wrap.container
{
	
}
.contact_btn.sixteen.columns
{
}

.myName{
margin-top: 10px;

}
.button{

/*background: linear-gradient(to bottom, #F6F6F6 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;*/
    border: 1px solid #333333;
    border-radius: 5px 5px 5px 5px;
   font-family: "knockout2";
    color: #ffffff;
    cursor: pointer;  
    font-size: .9em;
    background-color: #514b44;
    padding-top: 0.3em;
     padding-left: .6em;
     padding-right:  .6em;
    padding-bottom: .20em;
    text-decoration: none;
   letter-spacing: 0.07em;
   
  
}

.button:hover {
	color: #ffffff;
	background-color: #090909;
    
}



.address{ margin-top: -30px;
letter-spacing: 0.07em;
}

.messageTitle{
font-style: italic;
font-size: 1.6em;
letter-spacing:.05em;

}


.download a{

color: #e58910;
font-size: .85em;
}


.download a:hover {
	color: #08dcc6;
    
}