@media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
	  .video_content{
        width: auto
      }
    }

    /* For smartphones */
    @media only screen and (max-width: 767px)  {
      .video_content {
        width: 300px;
        height:170px;
      }
    }
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
      .video_content{
        width: 420px;
		height:238px;
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .video_content{
        width: 724px;
		height:410px;
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .video_content{
        width: 830px;
		height:470px;
      }
    }
